* {
    margin: 0;
    font: 14px Helvetica Neue, Helvetica, PingFang SC, 微软雅黑, Tahoma, Arial, sans-serif;
}

body {
    height: 100%;
    color: #fff;
}

body ::-webkit-input-placeholder {
    color: #4E546D;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
